{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/home.css') }}"></link>
{% endblock %}

{% block body %}
  <div class="container">
  </div>

  <div class="container">
    <div class="row">
    </div>
    <div id="app" class="row"></div>
  </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/home.js') }}"></script>
{% endblock %}
